@font-face {
    font-family: NotoSansSC-Thin;
    src:url("../fonts/NotoSansSC-Thin.otf");
}

* {
    font-family: NotoSansSC-Thin;
}

#sign {

    font-size: 27px;
}
#header {
    margin-left: 5%;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
#header a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;

}
.active {
    border-bottom: 2px solid #000000;
}
#context {
    margin-top: 3%;
    float:left;
    margin-left: 5%;
    width:72%;
}
#sider {
    position: fixed;
    right:0;
    margin-right: 5%;
    width:15%;
    margin-left: 1%;
    margin-top: 5%;
}
.border {
    border: black 1px solid;
}

.item {
    margin: 5px;
    border-bottom: solid #dddddd 1px;
}
.item_info {
    padding: 5px 10px 0px 20px;
    font-size: 18px;
    color: #bbbbbb;

}
.item_title {
    font-size: 50px;
    font-family: NotoSansSC-Thin;
}
.tags {
    margin-top: 20px;
    width:100%;
}
.tag {
    display: inline;
    margin-right: 4px;
}
.serachBar{
    margin-bottom: 20px;
}
#title_edit {
    font-size: 25px;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #a4a4a4;
    width:98%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.edit_info {
    font-size: 25px;
}
.input_info {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #a4a4a4;
    margin-bottom: 5%;
}
#edit_submit {
    margin-top: 90%;
    font-size: 70px;
}
.login_btn {
    float: right;
}
.slash {

    color: #e4e4e4;
}

.show_title {
    padding: 2%;
    border-bottom: solid 1px #e4e4e4;

}