{% extends "layout.html" %}
{% block header %}
        <a id="cate_all" class="" href="/">返回主页</a>
{% endblock %}
{% block sider %}
    <div class="context_tree">

    </div>
    <div class="contact_bar">

    </div>
{% endblock %}
{% block context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown.css') }}"/>
    <h1 class="show_title">{{ post.title }}</h1>
<div class="body">
{{ post.body|safe }}
</div>
{% endblock %}