<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blogPage.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
        {% for msg in messages %}
        alert({{ msg }})
        {% endfor %}
    </script>
    {% endif %}
{% endwith %}
</head>
<body>
{#context#}
<form method="post" action="{{ url_for('add') }}">
<div id="context" >
        {% if post %}
                <input name="title" id="title_edit" value="{{ post.title }}">
        {% else %}
            <input name="title" id="title_edit" >
        {% endif %}



    <textarea name="content" id="context_editor">
        {% if post %}
            {{ post.body }}
        {% else %}
        请输入...
        {% endif %}
    </textarea>
    <script src="{{ url_for('static',filename='js/my_simplemde.js') }}"></script>

</div>
{#sider bar#}
<div id="sider">
    <div class="edit_info">
        分类：
    </div>
    {% if post %}
        <input name="category" id="category_editor" class="input_info" value="{{ post.category.name }}">
    {% else %}
        <input name="category" id="category_editor" class="input_info">
    {% endif %}


    <div class="edit_info ">
        标签：
    </div>
    {% if post %}
        <input name="tags" id="tags_editor" class="input_info" value="{% for tag in post.tags %}{{ tag.name }}{% if not loop.last %},{% endif %}{% endfor %}">
    {% else %}
        <input name="tags" id="tags_editor" class="input_info">
    {% endif %}

    <div id="edit_submit" onclick="javascript:document.forms[0].submit();">
        保存
    </div>
</div>
{% if post %}
    <input name="id" type="hidden" value="{{ post.id }}">
    <input name="clicked" type="hidden" value="{{ post.clicked }}">
{% else %}
    <input name="id" type="hidden" value="-1">
    <input name="clicked" type="hidden" value="-1">
{% endif %}
    </form>

</body>
</html>