{% extends "layout.html" %}
{% block header %}
    {% if request.path == '/' %}
    <a id="cate_all" class="active" href="/">主页</a>
        {% else %}
        <a id="cate_all" class="" href="/">主页</a>
    {% endif %}
{% for cat in cats %}
    {% if request.path == '/s/category/'+cat.name %}
    <a id="{{ cat.name }}" href="{{ url_for('search',item='category',name=cat.name) }}" class="active">{{ cat.name }}</a>
    {% else %}
    <a id="{{ cat.name }}" href="{{ url_for('search',item='category',name=cat.name) }}" >{{ cat.name }}</a>
    {% endif %}
{% endfor %}
{% endblock %}
{% block context %}
    {% for entrie in entries %}

    <div  class=" item" onclick="location.href='{{ url_for("post",id=entrie.id)}}'">
        <div class="item_info">
            {{ entrie.up_date }} / {{ entrie.category.name }}
        </div>
        <div class="item_title">
            {{ entrie.title }}
        </div>
        {% if 'logged_in' in session %}
        <div class="item_info">
            点击数:{{ entrie.clicked }}/<a href="{{url_for('edit',id=entrie.id)}}">编辑</a>/<a href="{{url_for('remove',id=entrie.id)}}">删除</a>
        </div>
    {% endif %}
    </div>
    {% endfor %}



{% endblock %}
{% block sider %}
    <div class="serachBar">
        <input id="search" >
        <button class="btn search_btn" onclick="location.href='/s/post/'+document.getElementById('search').value">搜索</button>
    </div>
    {% if 'logged_in' in session %}
    <div class="edit_menu" >
        <div class="add_btn btn" onclick="location.href='{{ url_for('add') }}'">
            添加
        </div>
        <div class="add_btn btn" onclick="location.href='{{ url_for('logout') }}'">
            退出
        </div>
    </div>
        {% else %}
        <div class="login">
        <form action="{{ url_for("login") }}" method="post">
            用户名：<input name="username" >
            密码：<input name="password">
            <input type="submit" value='登陆'>
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
        </form>
        </div>
    {% endif %}
    <div class="tags ">
    <div>标签：</div>
         {% for tag in show_tags %}
             <div class="tag">
                <a href="{{ url_for('search',item='tag',name=tag.name) }}">{{ tag.name }}({{ tag.post.count() }})</a>
             </div>
         {% endfor %}

    </div>
{% endblock %}