{% extends "layout.html" %}
{% block context %}
    {% for entrie in entries %}

    <div  class=" item" onclick="location.href='{{ url_for("post",id=i)}}'">
        <div class="item_info">
            {{ entrie.up_date }} / {{ entrie.category.name }}
        </div>
        <div class="item_title">
            {{ entrie.title }}
        </div>
        <div class="item_info">
            点击数:{{ entrie.clicked }}/编辑
        </div>
    </div>
    {% endfor %}

{% endblock %}
{% block sider %}
    <div class="edit_menu" >
        <div class="add_btn btn" onclick="location.href='{{ url_for('add') }}'">
            添加
        </div>
    </div>
    <div class="tags ">
    <div>标签：</div>
         {% for foo in range(20) %}
             <div class="tag">
                tag({{ foo }})
             </div>
         {% endfor %}

    </div>
{% endblock %}