<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blogPage.css') }}">

</head>
<body>
<div id="header">

    {% block header %}
        {% endblock %}

</div>
<div id="context" >
{% block context %}
    {% endblock %}
</div>
<div id="sider">
    <div class="serachBar">
        搜索：<input id="search" >
        <button class="btn search_btn" onclick="location.href='/s/post/'+document.getElementById('search').value">搜索</button>
    </div>
<div class="login_btn btn">
        登陆
        </div>
    {% block sider %}

    {% endblock %}
</div>
</body>
</html>